<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>hello this side mohit yadav</h1>
    <h3>we can do calculations also in ejs=>  <%= 2*3*2+2%></h3>
    
</body>
</html>